.Message {
  margin: 1em 0;
  width: 80%;
  position: relative;
}

.Message--local {
  margin-left: 20%;
}

.Message__Content {
  transition: max-height 0.2s, transform 0.4s;
  background: rgba(245 ,218 ,85, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transform-origin: bottom right;
}

.Message__Content__Body {
  margin: 1.5em 1.5em;
}

.Message--local .Message__Content {
  background: rgba(129, 62, 163, 1);
  color: white;
}

.Message__arrow {

}

.Message--local .Message__arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: calc(50% - 5px);
  transform: translateY(-50%);
  left: 100%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(129, 62, 163, 1);
}

.Message--remote .Message__arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: calc(50% - 5px);
  transform: translateY(-50%);
  right: 100%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid rgba(245 ,218 ,85, 0.1);
}
