html, body, #config-wizard-default-root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgba(50, 51, 48, 1);
}

.App {
  color: rgba(50, 51, 48, 1);
}

.App__Header {
  text-align: center;
  font-size: 1.25em;
  color: #666;
  font-weight: normal;
}

.App__Header__Site {
  font-weight: bolder;
  color: hotpink;
}

.App__GH {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3em 0.6em;
  background: #eee;
  color: #333;
  text-decoration: none;
}

.config-wizard-is-embed .App__GH {
  display: none;
}

.App__GH:hover {
  color: hotpink;
  text-decoration: underline;
}
